.App {
  text-align: center;
  margin-top: 20%;
  border: 2px solid purple;

}

button {
  height: 40px;
  color: purple;
  margin: 30px;
  font-size: 30px;
}

#loader {
  height: 20px;
  width: 50%;
  display: inline-block;
  background: linear-gradient(to right, red 50%, blue 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition: all 2s ease;
}

#count {
  font-size: 50px;
}
